@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

.content{
    min-height: 660px;
}

.signup-image{
    height: 580px;
}

.btn-signup{
    display: flex;
    justify-content: flex-end;
}

.red{
    color: red;
}

.green{
    color: green;
}

.size100{
    font-size: 100px;
}

.about-h3{
    font-weight: 390;
    font-style: oblique;
    
}

.box-padding-rl{
    padding: 0px 12px;
}

.box-padding-10{
    padding: 10px 0px;
}

.box-padding-left{
    padding-left: 20px;
}

.about-p{
    padding: 20px 0px;
}

.p-bold{
    font-weight: 900;
}

.p-blue{
    color: blue;
}

.white{
    color: #FFF;
}

.bg-white{
    background-color: #FFF;
}

.about-img{
    margin: 0px auto;
}

.live-support-img{
    margin-top: 30px;
}

.img-phone{
    height: 250px;
    margin: 0px auto;
    transition: 0.7s ease-out;
}

.img-phone:hover{
    height: 320px;
}

.panel-default-setting{
    border: 1px solid #101010;
}

.panel-default-setting  > .panel-heading
 {
    color: #FFF;
    background-color: #101010;
}

.btn-setting{
    background-color: #000;
    color: #FFF;
    transition: 0.5s ease-in;
}

.btn-setting:hover{
    background-color:#43053C;
    color: #FFF;
}


/* Footer */
footer{
    background-color: #101010;
    padding: 10px;
    color: #9d9d9d;
    width: 100%;
    text-align: center;
}

footer h4{
    font-size: 20px;
    color: #fff;
}

footer a{
    color: #9d9d9d;
    text-decoration: none
}

footer a:hover{
    color: #fff;
    text-decoration: none;

}
/* !Footer */



/* @media */
    @media(max-width:991px){
        .signup-image{
            display: none;
        }
        .live-support-img{
            display: none;
        }
        .about-img{
            margin: 0px auto;
        }
    }
/* !@media */